.App {
  text-align: center;
}

.Login {
  text-align: center;
  margin-left: 300px;
  width:50%;
  background: light gray;
}

.Carousel {
  text-align: center;
  margin-left:150px;
  margin-right:150px;
  margin-top:50px;
  margin-bottom:50px;
  width:75%;
  background: light gray;
}


.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.text {
  color: brown;
  font-weight:bold;
  font-size: 32px;
}

.text-offset {
  color: gold;
  font-weight:bold;
  font-size: 30px;
}

.titles {
  font-weight: bold;
  font-size: 18px;
}
.main-img {
  height: 60px;
  width: 100px;
  margin-top: 0px;
  margin-bottom:0px;
}

.red {
  color:red;
}

.black {
  color: black;
}
.sub-title {
  color: black;
  font-size:22px;
  font-weight: bold;
}

.align-top {
  margin-top:0px;
}

.link-color {
  color: blue;
}