.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.text {
  color: brown;
  font-weight:bold;
  font-size: 32px;
}

.text-offset {
  color: gold;
  font-weight:bold;
  font-size: 30px;
}

.titles {
  font-weight: bold;
  font-size: 18px;
}