body {
    margin-top: 80px;
}
 .body {
    position: fixed;
    top: 60px;
    overflow: scroll;
}

 .article {
   position: fixed;
   right: 0px;
}

.rankings {
    position: fixed;
    top: 130px;
    left: 0px;
    height: 50px;
    width: 350px;
}

.container .header-text {
    margin: 20px 0;
}


.badge {
    background-color: #e4aa48;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.center-text {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}